@import "tailwindcss";

@theme {
  --color-lume-black: #111111;
  --color-lume-gold: #c6a15b;
  --color-lume-orange: #f5a623;
  --color-lume-gray: #f9f9f9;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Montserrat", sans-serif;
}
